git initdoctype html
html(lang="en")
  head
    title=CDP
    link(rel='stylesheet', href='css/style.css', type='text/css')
    script(src="js/libs/output.min.js")
  body
    include partials/header
    include partials/content