doctype html
html(lang="en")
  head
    title=CDP
    link(rel='stylesheet', href='css/style.css', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,300,700', rel='stylesheet', type='text/css')
    script(src="js/libs/output.min.js")
    script(src="js/main.min.js")
  body
    include partials/header
    include partials/content
