    @icon-arrow-bottom: 276px 82px -276px -82px 18px 11px 303px 256px 'sprite.png';
    @icon-arrow-bottomX2: 208px 182px -208px -182px 36px 22px 303px 256px 'sprite.png';
    @icon-arrow-left: 292px 47px -292px -47px 11px 18px 303px 256px 'sprite.png';
    @icon-arrow-leftX2: 48px 208px -48px -208px 22px 36px 303px 256px 'sprite.png';
    @icon-arrow-top: 276px 71px -276px -71px 18px 11px 303px 256px 'sprite.png';
    @icon-arrow-topX2: 70px 208px -70px -208px 36px 22px 303px 256px 'sprite.png';
    @icon-award: 104px 0px -104px 0px 104px 104px 303px 256px 'sprite.png';
    @icon-book: 0px 104px 0px -104px 104px 104px 303px 256px 'sprite.png';
    @icon-cart: 276px 0px -276px 0px 27px 23px 303px 256px 'sprite.png';
    @icon-cartX2: 208px 136px -208px -136px 54px 46px 303px 256px 'sprite.png';
    @icon-eye: 0px 0px 0px 0px 104px 104px 303px 256px 'sprite.png';
    @icon-instagram: 104px 172px -104px -172px 34px 34px 303px 256px 'sprite.png';
    @icon-instagramX2: 208px 68px -208px -68px 68px 68px 303px 256px 'sprite.png';
    @icon-location: 276px 47px -276px -47px 16px 24px 303px 256px 'sprite.png';
    @icon-locationX2: 172px 104px -172px -104px 32px 48px 303px 256px 'sprite.png';
    @icon-tube: 172px 172px -172px -172px 34px 34px 303px 256px 'sprite.png';
    @icon-tubeX2: 208px 0px -208px 0px 68px 68px 303px 256px 'sprite.png';
    @icon-twitter: 138px 172px -138px -172px 34px 34px 303px 256px 'sprite.png';
    @icon-twitterX2: 104px 104px -104px -104px 68px 68px 303px 256px 'sprite.png';
    @icon-user: 276px 23px -276px -23px 24px 24px 303px 256px 'sprite.png';
    @icon-userX2: 0px 208px 0px -208px 48px 48px 303px 256px 'sprite.png';
