@import '../variables.less';

.currency {
	position: relative;

	display: none;
	float: left;

	margin-top: 56px;

	letter-spacing: 0.2px;

	color: @grey-medium;

	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	@media @tablets {
		display: block;
	}
	@media @medium {
		margin-top: 46px;
	}
	&__active__text {
		position: relative;

		display: inline-block;

		margin-top: -6px;

		vertical-align: middle;

		line-height: 12px;
	}
	&__active__country {
		.only-wide-screen(inline-block);
	}
	&__active__img {
		width: 22px;
		height: 16px;
		margin-right: 10px;
	}
	&__select {
		position: relative;

		display: inline-block;

		cursor: pointer;
		text-decoration: none;

		color: @grey-medium;

		.default-transition(color);
		&-value-text {
			color: @grey-dark;
		}
		&-value-text:after {
			display: inline-block;

			width: 0;
			height: 0;
			margin-top: -2px;
			margin-left: 5px;

			content: '';
			vertical-align: middle;

			border-width: 7px 4px 0 4px;
			border-style: solid;
			border-color: @grey-medium transparent transparent transparent;

			.default-transition(all);
		}
		&:hover {
			color: @grey-dark;
			&:after {
				border-color: #333 transparent transparent transparent;
			}
			&:before {
				position: absolute;
				bottom: 0;

				display: block;

				width: 100%;
				height: 25px;
				margin-bottom: -25px;

				content: '';
			}
		}
		&:hover .currency__drop-down {
			display: block;
			visibility: visible;
		}
	}
	&__drop-down {
		position: absolute;
		z-index: 15;
		top: 25px;
		left: 0;

		display: none;

		min-width: 211px;
		padding-bottom: 3px;

		-webkit-animation-name: fadeInUp;
		        animation-name: fadeInUp;
		-webkit-animation-duration: 0.3s;
		        animation-duration: 0.3s;

		border: 2px solid @grey-dark-lighter;
		background: #fff;
		box-shadow: 0 0 0 3px rgba(255,255,255,0.2);

		-webkit-animation-fill-mode: both;
		        animation-fill-mode: both;
		@media @medium {
			left: -165px;
		}
		&__header {
			padding: 10px;

			color: #fff;
			background: @grey-dark-lighter;

			font-weight: 400;
			&__text {
				margin-left: 15px;
			}
		}
		&--hidden {
			display: none;
		}
	}
	&__change-currency {
		padding: 14px 10px 2px;

		color: @grey-verylight;
	}
	.currency__change-country {
		padding: 0 10px;
		&__item {
			position: relative;

			margin-bottom: 12px;
			padding-bottom: 10px;

			border-bottom: 1px solid @grey-light;
			img {
				margin-right: 15px;
			}
		}
		&__link {
			position: relative;

			display: block;

			text-decoration: none;

			color: @grey-darklight;
			&:hover:after {
				position: absolute;
				top: 50%;
				right: 3px;

				display: block;

				width: 8px;
				height: 12px;
				margin-top: -6px;

				content: '';

				background-image: data-uri('image/png;base64', 'img/chevron-right.png');
				@media @retina {
					top: 50%;
					right: 6px;

					width: 16px;
					height: 24px;
					margin-top: -12px;

					background-image: data-uri('image/png;base64', 'img/chevron-rightX2.png');
				}
			}
		}
		&__title {
			display: block;

			margin-bottom: 24px;

			color: @grey-verylight;
		}
	}
}



