@import '../variables.less';

.footer {
	padding: 50px 0 50px;

	border-top: 1px solid @grey-light;
	background: #fdfdfd;
	@media @mobile {
		padding: 50px 0 0;
	}
	&__col3 {
		float: left;

		width: (220/940)*100%;
		& + & {
			margin-left: (20/940)*100%;
			@media @mobile {
				margin-left: 0;
			}
		}
		@media @mobile {
			float: none;

			width: 100%;
			padding-bottom: 60px;
		}
	}
	&__header {
		margin-bottom: 35px;

		text-transform: uppercase;

		color: @grey-darklight;

		font-size: 18px;
		font-weight: 400;
	}
	&__logo {
		display: inline-block;

		margin-top: -3px;

		text-decoration: none;
		text-transform: uppercase;

		color: @grey-darklight;

		font-family: 'Aleo', serif;
		font-size: 40px;
		line-height: 35px;

		.default-transition();
		@media @tablets {
			font-size: 30px;
		}
		&:hover {
			color: @blue;
		}
	}
	&__small-info {
		margin: 20px 0 23px;
		padding-right: 10px;

		color: @grey-medium;

		font-family: 'Aleo', serif;
		font-size: 14px;
		line-height: 18px;
	}
	&__socials-wrapper {
		margin-left: -13px;
		padding-right: 20px;
		.social-link {
			margin: 0 0 12px 12px;
		}
	}
	&__links__item + &__links__item {
		margin-top: 21px;
	}
	&__links__item__link {
		text-decoration: none;

		color: @grey-dark;

		font-size: 18px;

		.default-transition();
		&:hover {
			color: @blue;
		}
	}
	&__artice + &__artice {
		margin-top: 40px;
		@media @tablets {
			margin-top: 30px;
		}
		@media @medium {
			margin-top: 40px;
		}
	}
	&__artice {
	}
	&__artice__header {
		text-decoration: none;

		color: @grey-dark;

		font-size: 18px;

		.default-transition();
		&:hover {
			color: @blue;
		}
	}
	&__artice__text {
		margin-top: 15px;

		color: #898989;

		line-height: 24px;
	}
	&-fild {
		margin: 22px 0;
	}
}