//#Social-feed
@import "../variables.less";

.social-feed {
  background: #f6f6f6;
  color: @grey-medium;
  padding: 47px 0 53px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  &__author {
    font-weight: 400;
    margin-bottom: 15px;
    strong {
      color: @grey-darklight;
    }
  }
  &__text {
    padding: 0 20px;
  }
  &__link {
    text-decoration: none;
    color: #3f8bd5;
  }
}