@import '../variables.less';
@import '../sprite.less';


.search-box {
	position: absolute;
	z-index: 1;
	top: 35px;

	display: block;

	box-sizing: border-box;
	height: 0;
	margin-left: -156px;
	padding: 0 12px 0 12px;

	opacity: 0;
	border: 1px solid @grey-borders;
	outline: none;
	background: #fff;

	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 100;
	line-height: 36px;

	.default-transition();
	@media @medium {
		position: static;
		top: 0;

		min-width: 246px;
		height: 36px;
		margin-left: 0;
		padding: 0 35px 0 12px;

		transition: none;

		opacity: 1;
	}
}

// #Headers
.header-bottom-separator {
	position: relative;

	padding: 45px 0 24px;

	text-align: center;
	text-transform: uppercase;

	color: @grey-dark;
	border-bottom: 2px solid @grey-dark;

	font-size: 48px;
	@media @mobile {
		font-size: 40px;
	}
	&:after {
		position: absolute;
		bottom: -6px;
		left: 0;

		width: 100%;
		height: 1px;

		content: '';

		background: @grey-dark;
	}
}
// #Socials
.social-link {
	display: inline-block;
	&--instagram {
		.sprite(@icon-instagram);
		@media @retina {
			.sprite(@icon-instagramX2);
		}
	}
	&--twitter {
		.sprite(@icon-twitter);
		@media @retina {
			.sprite(@icon-twitterX2);
		}
	}
	&--youtube {
		.sprite(@icon-tube);
		@media @retina {
			.sprite(@icon-tubeX2);
		}
	}
}
// #forms staff
.form {
	&-field {
		margin: 10px 0;
	}
	&-input {
		box-sizing: border-box;
		width: 100%;
		padding: 5px 10px;

		color: @grey;
		border: 1px solid #e3e3e3;
		background: #f6f6f6;
		box-shadow: inset 0 2px 0 rgba(0,0,0,0.05);

		font-family: 'Oswald', sans-serif;
		font-size: 16px;
		font-weight: 300;

		.default-transition();
		&:focus {
			border-color: rgb(18,204,226);
			outline: none;
		}
	}
	&-select {
		width: 100%;
		@media @tablets {
			min-width: 100%;
		}
		@media @medium {
			min-width: 140px;
		}
	}
	&-submit {
		box-sizing: border-box;
		width: 100%;
		padding: 6px 20px;

		cursor: pointer;

		color: #fff;
		border: none;
		outline: none;
		background: @blue;

		font-family: 'Oswald', sans-serif;
		font-size: 16px;

		.default-transition();
		@media @tablets {
			min-width: 100%;
		}
		@media @medium {
			min-width: 131px;
		}
		&:hover {
			background: #2fb789;
		}
	}
}