footer.footer
    .container.clearfix
        .footer__col3
            a(href="#").footer__logo Unishop
            p.footer__small-info Your about us information would fit here nicely.
            .footer__socials-wrapper
                a(href="#").social-link.social-link--instagram
                a(href="#").social-link.social-link--twitter
                a(href="#").social-link.social-link--youtube
                a(href="#").social-link.social-link--instagram
                a(href="#").social-link.social-link--twitter
                a(href="#").social-link.social-link--youtube
                a(href="#").social-link.social-link--twitter

        .footer__col3
                .footer__header Links
                ul.footer__links
                    li.footer__links__item
                        a(href="").footer__links__item__link About Us
                    li.footer__links__item
                        a(href="").footer__links__item__link Terms & Conditions
                    li.footer__links__item
                        a(href="").footer__links__item__link Customers Service
                    li.footer__links__item
                        a(href="").footer__links__item__link Careers
        .footer__col3
            .footer__header Blogs
            .footer__artice
                a(href="#").footer__artice__header Article Headline fit here perfectly
                p.footer__artice__text Nulla facilisi. Duis aliquet egestas purus in blandit. Cura
            .footer__artice
                a(href="#").footer__artice__header Article Headline fit here perfectly
                p.footer__artice__text Nulla facilisi. Duis aliquet egestas purus in blandit. Cura
        .footer__col3
            .footer__header Newslatter
            form(name="findStore", action="", method="")
                input(type="text", placeholder="Putt your E-Mail").form-input
                select(data-attr="custom-select").form-select
                    option(value="Women's" selected) Women's
                    option(value="Men's") Men's
                .form-field
                    input(type="submit", value="Subscribe").form-submit



