header.top-header.clearfix
		section.multi-shop-nav
			.container
				nav
					a(href="#").unishop.selected Unishop
					a(href="#").twister Twister
					a(href="#").rockStar RockStar's
				.new-staf
					a(href="#") Super new stuff is here!!
		section.top-nav
			.container
				.currency
					.active-currency
						img(src="img/USA-flag.png", alt="USA-flag")
						span United Kindom, 
							a(href="#").currency-select $ USD
					.currency-dropdown
						header
							img(src="img/USA-flag.png", alt="USA-flag")
							span United Kingdom
						.change-currency
							span.title Change currency:
							select#currency-select.select(name="currency")
								option(value="$ USD" selected) $ USD
								option(value="$ GBP") $ GBP
								option(value="C$ CAD") $ CAD
						.change-country
							span.title Other country sites
							ul
								li 
									a(href="#")
										img(src="img/USA-flag.png", alt="USA-flag")
										span Unnited States
								li
									a(href="#")
										img(src="img/france-flag.png", alt="USA-flag")
										span France
								li
									a(href="#")
										img(src="img/italy-flag.png", alt="USA-flag")
										span Italy
								li
									a(href="#")
										img(src="img/australia-flag.png", alt="USA-flag")
										span Australia
