header.top-header.clearfix
		section.multi-shop-nav
			.container
				nav
					a(href="#").unishop.selected Unishop
					a(href="#").twister Twister
					a(href="#").rockStar RockStar's
				.new-staf
					a(href="#") Super new stuff is here!!
		section.top-nav
			.container
				.currency
					.active-currency
						img(src="img/USA-flag.png", alt="USA-flag")
						span United Kindom, 
							a(href="#").currency-select $ USD
					.currency-dropdown
						header
							img(src="img/USA-flag.png", alt="USA-flag")
							span United Kindom
						.change-currency
							span.title Change currency:
							span.select
								a.drop-down-toggle(href="#") $ USD
									span.caret
								ul.drop-down
									li $ GBP
									li C$ CAD
						.change-country
							span.title Other country sites
							ul
								li 
									img(src="img/USA-flag.png", alt="USA-flag")
									span Unnited States
								li 
									img(src="img/france-flag.png", alt="USA-flag") 
									span France
								li 
									img(src="img/italy-flag.png", alt="USA-flag")
									span Italy
								li 
									img(src="img/australia-flag.png", alt="USA-flag")
									span Australia
								li 
									img(src="img/australia-flag.png", alt="USA-flag")
									span Australiaas

