.currency
    .currency__active
        img(src="img/USA-flag.png", alt="USA-flag").currency__active__img
        span.currency__active__text
            span.currency__active__country United Kingdom, &nbsp;
            .currency__select
                .currency__select-value-text $ USD
                .currency__drop-down
                    header.currency__drop-down__header
                        img(src="img/USA-flag.png", alt="USA-flag").currency__drop-down__header__img
                        span.currency__drop-down__header__text United Kingdom
                    .currency__change-currency
                        span.change-currency__title Change currency:
                        select.change-currency__select(name="currency")
                            option(value="$ USD" selected) $ USD
                            option(value="$ GBP") $ GBP
                            option(value="$ CAD") $ CAD
                    .currency__change-country
                        span.currency__change-country__title Other country sites
                        ul.currency__change-country__menu
                            li.currency__change-country__item
                                a(href="#").currency__change-country__link
                                    img(src="img/USA-flag.png", alt="USA-flag")
                                    span United States
                            li.currency__change-country__item
                                a(href="#").currency__change-country__link
                                    img(src="img/france-flag.png", alt="USA-flag")
                                    span France
                            li.currency__change-country__item
                                a(href="#").currency__change-country__link
                                    img(src="img/italy-flag.png", alt="USA-flag")
                                    span Italy
                            li.currency__change-country__item
                                a(href="#").currency__change-country__link
                                    img(src="img/australia-flag.png", alt="USA-flag")
                                    span Australia
