section.main-navbar-wrapper
    .container.clearfix
        ul.main-navbar.clearfix.pull-left
            li.main-navbar__item
                a(href="#").main-navbar__item__link.main-navbar__item__link--active Women
            li.main-navbar__item
                a(href="#").main-navbar__item__link Men
            li.main-navbar__item
                a(href="#").main-navbar__item__link Children
            li.main-navbar__item
                a(href="#").main-navbar__item__link Sale
            li.main-navbar__item
                a(href="#").main-navbar__item__link Contact
            li.main-navbar__item
                a(href="#").main-navbar__item__link Locator
        .search-box-wrapper.pull-right
            form(name="login", action="", method="")
                input(type="text", placeholder="Search please").search-box
                input(type="submit").search-btn
