include mixins

-product1 = {imgSrc:"content/images/product1.jpg", header:"DARK BROGUES", price: "65.07", salePrice: "", onSale: false, isNew: true, text:"Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor."};
-product2 = {imgSrc:"content/images/product1.jpg", header:"DARK BROGUES", price: "65.07", salePrice: "38.00", onSale: false, isNew: false, text:"Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor."};
-product3 = {imgSrc:"content/images/product1.jpg", header:"DARK BROGUES", price: "65.07", salePrice: "38.00", onSale: false, isNew: false, text:"Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor."};
-product4 = {imgSrc:"content/images/product1.jpg", header:"DARK BROGUES", price: "65.07", salePrice: "38.00", onSale: true, isNew: false, text:"Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor."};
-product5 = {imgSrc:"content/images/product1.jpg", header:"DARK BROGUES", price: "65.07", salePrice: "38.00", onSale: false, isNew: true, text:"Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor."};
-product6 = {imgSrc:"content/images/product1.jpg", header:"DARK BROGUES", price: "65.07", salePrice: "38.00", onSale: true, isNew: false, text:"Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor."};
-products = [product1,product2,product3,product4,product5,product6]
mixin productsSlider(products)